*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}
img {
  display: block;
  max-width: 100%;
}

.music {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px 25px 30px;
}

.music-thumb {
  width: 400px;
  height: 200px;
  margin: 0 auto 25px;
}

.music-thumb img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.music-name {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #999;
  margin-bottom: 20px;
}

.control {
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}

.play {
  position: relative;
}

.player-inner {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 30px;
  position: relative;
  z-index: 2;
}

.play:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right bottom, #ff6bcb, #ffb86b);
  transform: scale(1.4);
  border-radius: 100rem;
}

.play-back,
.play-forward {
  cursor: pointer;
}